{% extends "base.html" %}
{% block head %}
	{%load staticfiles %}
	<link rel="stylesheet" href="{% static 'estilos/film.css' %}">
			
{% endblock %}

{% block cuerpo %}
<section>
	{% if film %}
	<div class="container filmBox">
		<h1 class="Title">{{film.title}} - Episodio {{film.episode_id}}</h1>
		<div class="content row">
			<img src="/static/img/portadas/{{film.episode_id}}.jpg" class="col-md-4">
			<div class="col-md-8">
				<h5>Director - {{film.director}}</h5>
				<h5>Productores - {{film.producer}}</h5>
				<h6>Fecha de lanzamiento - {{film.release_date}}</h6>
				<hr>
				<p >{{film.opening_crawl}}</p>
			</div>
		</div>
	</div>
	{% else %}
	<h1 class="Title">No existe ninguna pelicula con este título</h1>

	{% endif %}
</section>
{% endblock %}