.TitleForce {

  margin-top: -45%;
  text-align: center;
  color: rgb(230,230,230);
}



.bgimg{
  width: 100%;
}

.Form{

  margin-top: 5%;
}
.Form input{
  width: 100%;
  font-size: 30px;
}

/* CARRUSEL DE PERSONAJES */

.Carrusel{
  margin-top: 28%;
  max-width: 100%;

}

.carousel-inner img{
  width: 100%;
  height: 100%;
}

/* Portadas */

.portadaVisited{
  margin-top: 5%;
}

.portadaVisited img{
  width: 200px;
  height: 300px;
}

